.top {
    display: flex;
}

.the-innocents {
    display: flex;
    flex-direction: column;
}
.n-o {
    margin-top: 104px;
    margin-left: 58px;
}

.titles-cw {
    margin-top: 63px;
    margin-bottom: 12px;
}

.titles{
    margin-bottom: 13px;
    margin-top: 44.31px;
    &.tn {
    margin-top: 40px;
    }
}

.first-bar {
    margin-left: 102px;
}

.progressing-bars {
    display: flex;
    flex-direction: column;
}