.logo img{
    width: 5.7em;
    margin: 22px 0 0 58px;
}

.the-innocents-img{
    margin-top: 205.69px;
    margin-left: 61px;
}

body {
    background-image: url(../../images/pelicula-inocents.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.neflix-originals img, .continue-watching img{
    margin-right: 5px;
    margin-top: 12px;
    width: auto;
}

.magic-for-humans {
    margin-left: 58px;
}

.first-film {
    margin-left: 60px;
}

.cw {
    width: 216px;
    height: 121.69px;
    margin-right: 5px;
    margin-bottom: 7.31px;
}

.bar {
    height: 4px;
    width: 132px;
}


